[flake8]
max-line-length = 100
extend-ignore = E203
exclude =
    __pycache__,
    .git,
    dist,
    node_modules,
    python/foxglove-schemas-flatbuffer/foxglove_schemas_flatbuffer/*.py,
    python/foxglove-schemas-protobuf/foxglove_schemas_protobuf/*.py,
    python/foxglove-sdk/python/foxglove/_protobuf/*,
    target,
count = true
