[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
protobuf = "*"
foxglove-schemas-protobuf = {editable = true, path = "./foxglove-schemas-protobuf"}

[dev-packages]
black = ">=22.1.0"
build = "*"
flake8 = "*"
pipenv = "*"
pytest = "*"
pyright = "*"

[requires]
python_version = "3"
